# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\szy\work\asd\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
